*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

.portfolio {
  color: white;
  background: radial-gradient(#2b3760, #0b1023);
}

.portfolio .nav-open {
  width: 100%;
  height: 50vh;
  background: #fff;
  z-index: 1;
  position: absolute;
  top: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 5% 1fr 1fr 5%;
      grid-template-columns: 5% 1fr 1fr 5%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.portfolio .nav-open > * {
  color: black;
}

.portfolio .nav-open > * h3 {
  font-size: 48px;
}

.portfolio .nav-open > * p {
  font-size: 20px;
}

.portfolio .nav-open .contact {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

.portfolio .nav-open .social-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  cursor: pointer;
}

nav {
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  margin: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
}

nav .logo {
  font-size: 20px;
  z-index: 2;
}

nav .icon {
  font-size: 40px;
  cursor: pointer;
  z-index: 9999;
}

.stylist, .chef {
  position: absolute;
  top: 0;
  opacity: 0;
  pointer-events: none;
}

.stylist .hero, .chef .hero {
  -webkit-transform: translate(30%, 20%);
          transform: translate(30%, 20%);
}

.page {
  min-height: 90vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 5% (1fr)[3] 5%;
      grid-template-columns: 5% repeat(3, 1fr) 5%;
}

.page .details {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

.page .details h1 {
  font-size: 64px;
  font-weight: 500;
}

.page .details h3 {
  padding-bottom: 1rem;
  font-size: 24px;
  font-weight: 300;
  background: radial-gradient(#f12711, #f5af19);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.page .details p {
  padding: 20px 0 50px 0;
}

.page .hero {
  overflow: hidden;
  height: 500px;
  -ms-flex-item-align: center;
      align-self: center;
  justify-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page .hero .model-right {
  -webkit-transform: translate(0%, 10%);
          transform: translate(0%, 10%);
}

.page .hero .model-left {
  -webkit-transform: translate(0, -10%);
          transform: translate(0, -10%);
}

.page .hero img {
  height: 500px;
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  cursor: pointer;
}

.page .hero:hover .model-right {
  -webkit-transform: translate(0%, 0%);
          transform: translate(0%, 0%);
}

.page .hero:hover .model-left {
  -webkit-transform: translate(0%, 0%);
          transform: translate(0%, 0%);
}

.pages {
  position: absolute;
  right: 5%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.pages h3 {
  font-size: 32px;
  padding: 30px;
}

.pages svg[class~="active"] {
  opacity: 1;
}

.pages svg:hover {
  -webkit-animation: dot 0.5s ease-in-out infinite alternate;
          animation: dot 0.5s ease-in-out infinite alternate;
}

.pages svg {
  -webkit-transform: scale(2);
          transform: scale(2);
  cursor: pointer;
  opacity: 0.5;
}

.pages > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@-webkit-keyframes dot {
  0% {
    -webkit-transform: scale(2);
            transform: scale(2);
  }
  100% {
    -webkit-transform: scale(4);
            transform: scale(4);
  }
}

@keyframes dot {
  0% {
    -webkit-transform: scale(2);
            transform: scale(2);
  }
  100% {
    -webkit-transform: scale(4);
            transform: scale(4);
  }
}

/*--------------------- CHEF PAGE ---------------------*/
.banner {
  height: 50vh;
  width: 100%;
  position: relative;
}

.banner img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.banner .chef {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3] 5%;
      grid-template-columns: repeat(3, 1fr) 5%;
}

.banner .chef .details {
  display: absolute;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  top: 100%;
  left: 50%;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  color: #111;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  text-align: center;
}

.banner .chef .details h1 {
  font-size: 42px;
  color: black;
}

.story {
  padding-top: 80px;
  width: 100%;
  width: 90%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.story .story-description {
  width: 50%;
}

.story .story-description h2 {
  padding: 30px 0;
  font-size: 38px;
}

.story .profile {
  height: 500px;
}

.my-work {
  padding: 80px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  margin: auto;
}

.my-work .work-description {
  padding: 30px 0;
  width: 50%;
}

.my-work .work-description h2 {
  padding: 30px 0;
  font-size: 38px;
}

.my-work .work-gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (200px)[3];
      grid-template-columns: repeat(3, 200px);
  margin-top: 80px;
  margin-left: 80px;
}

.my-work .work-gallery img {
  width: 200px;
}

/* --------------------- MEDIA QUERIES ----------------- */
@media screen and (max-width: 1024px) {
  .page {
    -ms-grid-columns: 5% 1fr 5%;
        grid-template-columns: 5% 1fr 5%;
  }
  .page .hero {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-rows: 2fr 1fr;
        grid-template-rows: 2fr 1fr;
  }
  .page .details {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    text-align: center;
  }
  .page .details h1 {
    line-height: normal;
    font-size: 48px;
  }
  .story, .my-work {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .story {
    padding-top: 0;
  }
  .story .story-description {
    width: 100%;
    padding-top: 0;
    margin-top: 20px;
  }
  .story .profile {
    text-align: center;
    padding-top: 30px;
  }
  .my-work .work-description {
    width: 100%;
  }
  .my-work .work-gallery {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(200px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
  .my-work .work-gallery img {
    width: 200px;
  }
}

@media screen and (max-width: 600px) {
  .details h1 {
    font-weight: 50px;
  }
  .nav-open {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-grid-columns: 5% 1fr 5%;
        grid-template-columns: 5% 1fr 5%;
  }
}
/*# sourceMappingURL=portfolio-styles.css.map */