* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    width: 4rem;
    border: none;
    background: none;
    border-radius: 30px;
    font-weight: bold;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
    height: 1.5rem;
    cursor: pointer;
    transition: all 0.75s ease-out;

    &.active {
        background:#585858;
        color: #fff;
    }
    
}



body {
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    perspective: 1000px;
  }

  .container {
    //   background: lightblue;
    height: 100vh;
      width: 60%;
      display: flex;
      align-items: center;
      justify-content: center;

      .card {
          min-height: 80vh;
          width: 25em;
        //   background: lightcoral;
          box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0 0 50px rgba(0, 0, 0, 0.2);
          border-radius: 30px;
          padding: 0 2rem;
          position: relative;
          transform-style: preserve-3d;
          transition: all 0.5s ease;

          .sneaker {
              display: flex;
              padding-top: 2.5rem;
            //   background: lightcyan;
              justify-content: center;
              align-items: center;
              transition: all 0.75s ease;
              

              .circle {
                  height: 12rem;
                  width: 12rem;
                  border-radius: 50%;
                  background:linear-gradient(
                      to right,
                      rgba(245, 70, 66, 0.75),
                      rgba(8, 83, 156, 0.75)
                  );
                  position: absolute;
                  z-index: 1;
              }

              & img {
                width: 20rem;
                margin-top: 20px;
                z-index: 2;
                transition: all 5s ease-out;
            }

          }

          .info {
              margin-top: 5rem;

              & h1 {
                  font-size: 1.5rem;
              }

              & h3 {
                  color: #585858;
                  padding-top: 1rem;
                  font-size: 1rem;
                  font-weight: 400;
              }

              .title {
                  padding-bottom: .5rem;
                  transition: all 0.75s ease-out;
              }

              .sizes {
                  display: flex;
                  justify-content: space-between;
                  margin-top: 1.5rem;
                  
              }

              .cta-btn {
                margin-top: 3rem;
                padding: 0.5rem;
                background:none;
                width: 100%;
                border-radius: 30px;
                box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.4);
                cursor: pointer;

                & h4 {
                    text-align: center;
                }
                
              }
          }
      }
  }